:root{
    /* coffee color palette */
    --dark-color: #515561;
    --mid-color: #967c74;
    --light-color: #D8B199;
    --lightest-color: bisque;
    --accent-color: #C5B4E3;

    /* purple color palette */
    /* --header-back: #C7B8EA;
    --header-text: #E5E5EA;
    --nav-back: #2C1B77;
    --nav-text: #E5E5EA;
    --general-back: #E5E5EA;
    --general-text: #25195A; */

    /* minimal pastel */
    --header-back: #fcf1e7;
    --header-text: #343233;
    --nav-back: #fcf1e7;
    --nav-text: #343233;
    --general-back: #fcf1e7;
    --general-text: #343233;
    --accent1: #C5B4E3;
    --accent2: #ffbae9;
    --accent3: #ffdd00;
    --accent4: #abe585;
    --accent5: #9fdae9;
    --accent6: #da9191;
    --accent7: rgb(123, 109, 253); 
    --accent8: rgb(255, 203, 171);


}

body {
    background-color: var(--general-back);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 100%;
}

header{
    background-color: var(--header-back);
    color: var(--general-text);
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: var(--header-text);
    border: 1px dashed var(--header-text);
    padding: 6px 12px;
    display: inline-block; 
}

header h1:hover{
    transform: translateY(-7px);
    color: var(--accent1);
    border: 1px dashed var(--accent1);
    transition: color 0.3s ease;
}

header h1#A:hover{
    transform: translateY(-7px);
    color: var(--accent1);
    border: 1px dashed var(--accent1);
    transition: color 0.3s ease;
}

header h1#B:hover{
    transform: translateY(-7px);
    color: var(--accent2);
    border: 1px dashed var(--accent2);
    transition: color 0.3s ease;
}

header h1#C:hover{
    transform: translateY(-7px);
    color: var(--accent3);
    border: 1px dashed var(--accent3);
    transition: color 0.3s ease;
}

header h1#D:hover{
    transform: translateY(-7px);
    color: var(--accent4);
    border: 1px dashed var(--accent4);
    transition: color 0.3s ease;
}

header h1#E:hover{
    transform: translateY(-7px);
    color: var(--accent5);
    border: 1px dashed var(--accent5);
    transition: color 0.3s ease;
}

h1#inv{
    opacity: 0%;
}

nav{
    background-color: var(--nav-back);
    padding: 13px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    
}

nav ul{
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav li{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-style: italic;
}

nav li a{
    text-decoration: none;
    color: var(--nav-text);
    text-align: center;
}

nav li a:hover{
    color: var(--accent1);
    transition: color 0.5s ease;
    /* text-decoration: underline; */
}

/* about section */

.about{
    color: var(--general-text);
    text-align: center;
    position: relative;
}

.about h2{
    font-family: "Lato", cursive;
    font-size: 35px;
}

.about h2:hover {
    color: var(--accent2);
    transition: color 0.5s ease;
    /* text-decoration: underline; */
}

.about img{
    text-align: center;
    align-self: center;
    position: relative;
    max-width: 30%;
    max-height: 30%
}

.about .about-content{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    /* align-content: center; */
    /* justify-content: space-evenly; */
    flex-direction: row-reverse;

}

/* .about .about-content .about-content-graphics{
    border-radius: 10%;

} */

/* projects section */
.projects h2{
    font-family: "Lato", cursive;
    font-size: 35px;
}

.projects h2:hover {
    color: var(--accent3);
    transition: color 0.5s ease;
    /* text-decoration: underline; */
}

/* skills section */
.skills h2{
    font-family: "Lato", cursive;
    font-size: 35px;
}

.skills h2:hover {
    color: var(--accent4);
    transition: color 0.5s ease;
    /* text-decoration: underline; */
}

/* contact section */
.contact h2{
    font-family: "Lato", cursive;
    font-size: 35px;
}

.contact h2:hover {
    color: var(--accent5);
    transition: color 0.5s ease;
    /* text-decoration: underline; */
}
  svg {
    top: 0;
    left: 0; 
  }

path{
    z-index: 1;
    fill:none;fill-opacity:0;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path#AL, path#NC, path#NH, path#IN, path#WI, path#MI, path#IA{
    cursor: pointer;
    z-index: 2;
    transition: fill 0.5s;
    fill:#C5B4E3;fill-opacity:.7;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path#AL:hover{
    z-index: 10;
    fill:var(--accent6);fill-opacity:.7;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path#NC:hover{
    z-index: 10;
    fill:var(--accent8);fill-opacity:.7;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path#NH:hover{
    z-index: 10;
    fill:var(--accent3);fill-opacity:.7;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path#IN:hover{
    z-index: 10;
    fill:var(--accent4);fill-opacity:.7;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path#WI:hover{
    z-index: 10;
    fill:var(--accent5);fill-opacity:.7;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path#MI:hover{
    z-index: 10;
    fill:var(--accent2);fill-opacity:.7;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path#IA:hover{
    z-index: 10;
    fill:var(--accent7);fill-opacity:.7;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path.dot{
    z-index: 12;
    fill:var(--accent7);fill-opacity:1;fill-rule:evenodd;
    stroke: var(--accent7);
    stroke-width: 3px;
} 

path.arrow{
    opacity: .75;
    z-index: 11;
    fill:var(--accent7);fill-opacity:1;fill-rule:evenodd;
    stroke: var(--accent7);
    stroke-width: 2px;
}

#map p {
    translate: 0 -70px;
    font-style: italic;
    transition: background-color 0.5s;
}


  #map p:hover {
    background-color: var(--accent1);
  }

/* media queries */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    nav ul{
        white-space: nowrap;
    }
    
    nav li{
        display: flex;
        justify-content: space-evenly;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-style: italic;
    }

    .about .about-content{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }
  }
