:root{
    --dark-color: #515561;
    --mid-color: #B28474;
    --light-color: #D8B199;
    --lightest-color: bisque;
    --accent-color: #C5B4E3;
}

/* replace browser defaults */
body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    color:var(--accent-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: var(--dark-color);
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: var(--lightest-color);
    border: 8px solid var(--lightest-color);
    padding: 6px 12px;
    display: inline-block;

    
}
.banner{
    position: relative;
}

nav{
    background-color: var(--mid-color);
    padding: 10px;
    position: sticky;
    top: 103px;
}

nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}


nav li{
    width: 25%;
    display: inline-block;
    font-size: 10px;
    font-style: italic;
}

nav li a{
    text-decoration: none;
    color: var(--lightest-color);
}
