:root{
    /* coffee color palette */
    --dark-color: #515561;
    --mid-color: #967c74;
    --light-color: #D8B199;
    --lightest-color: bisque;
    --accent-color: #C5B4E3;

    /* purple color palette */
    /* --header-back: #C7B8EA;
    --header-text: #E5E5EA;
    --nav-back: #2C1B77;
    --nav-text: #E5E5EA;
    --general-back: #E5E5EA;
    --general-text: #25195A; */

    /* minimal pastel */
    --header-back: #fcf1e7;
    --header-text: #343233;
    --nav-back: #fcf1e7;
    --nav-text: #343233;
    --general-back: #fcf1e7;
    --general-text: #343233;
    --other-back:  #E5E5EA;
    --accent1: #C5B4E3;
    --accent2: #ffbae9;
    --accent3: #ffdd00;
    --accent4: #abe585;
    --accent5: #9fdae9;
    --accent6: #da9191;
    --accent7: rgb(123, 109, 253); 
    --accent8: rgb(255, 203, 171);


}

body {
    background-color: var(--general-back);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 100%;
}

:target {
    scroll-margin-top: 100px;
   }

/* header */

header{
    background-color: var(--header-back);
    color: var(--general-text);
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: var(--header-text);
    border: 1px dashed var(--header-text);
    padding: 6px 12px;
    display: inline-block; 
}

header h1:hover{
    transform: translateY(-7px);
    color: var(--accent1);
    border: 1px dashed var(--accent1);
    transition: color 0.3s ease;
}

header h1#A:hover{
    transform: translateY(-7px);
    color: var(--accent1);
    border: 1px dashed var(--accent1);
    transition: color 0.3s ease;
}

header h1#B:hover{
    transform: translateY(-7px);
    color: var(--accent2);
    border: 1px dashed var(--accent2);
    transition: color 0.3s ease;
}

header h1#C:hover{
    transform: translateY(-7px);
    color: var(--accent3);
    border: 1px dashed var(--accent3);
    transition: color 0.3s ease;
}

header h1#D:hover{
    transform: translateY(-7px);
    color: var(--accent4);
    border: 1px dashed var(--accent4);
    transition: color 0.3s ease;
}

header h1#E:hover{
    transform: translateY(-7px);
    color: var(--accent5);
    border: 1px dashed var(--accent5);
    transition: color 0.3s ease;
}

nav a{
    color: var(--accent1);
}

nav #contact-icons a{
    color: var(--accent1);
    height: 15px;
    width: 15px;
    transition: color 0.3s ease;
}

nav #contact-icons a:hover{
    color: var(--accent3);
}

h1#inv{
    opacity: 0%;
}

/* navigation */

nav{
    background-color: var(--nav-back);
    padding: 20px;
    width: 100%;
    height: 50px;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    
}

nav ul{
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav li{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-style: italic;
}

nav li a{
    text-decoration: none;
    color: var(--nav-text);
    text-align: center;
}

nav li a:hover{
    color: var(--accent1);
    transition: color 0.5s ease;
    /* text-decoration: underline; */
}

/* about section */

.about{
    color: var(--general-text);
    text-align: center;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.about h2{
    font-family: "Lato", cursive;
    font-size: 35px;
}

.about h2:hover {
    color: var(--accent2);
    transition: color 0.5s ease;
    /* text-decoration: underline; */
}

.about img{
    height: 20%;
    width: 25%;
    border-radius: 25%;
}

.about .about-content p{
    font-size: 20px;
    align-items: start;
}

.about .about-content{
    display: flex;
    flex-direction: row-reverse;
}

.about p #accent {
    color: var(--accent2);
}

.about a {
    color: var(--accent1);
}

path{
    z-index: 1;
    fill:none;fill-opacity:1;fill-rule:evenodd;stroke:black;stroke-width:2px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path#AL, path#NC, path#NH, path#IN, path#WI, path#MI, path#IA{
    cursor: pointer;
    z-index: 2;
    transition: fill 0.5s;
    fill:#C5B4E3;fill-opacity:.7;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path#AL:hover{
    z-index: 10;
    fill:var(--accent6);fill-opacity:.7;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path#NC:hover{
    z-index: 10;
    fill:var(--accent8);fill-opacity:.7;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path#NH:hover{
    z-index: 10;
    fill:var(--accent3);fill-opacity:.7;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path#IN:hover{
    z-index: 10;
    fill:var(--accent4);fill-opacity:.7;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path#WI:hover{
    z-index: 10;
    fill:var(--accent5);fill-opacity:.7;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path#MI:hover{
    z-index: 10;
    fill:var(--accent2);fill-opacity:.7;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path#IA:hover{
    z-index: 10;
    fill:var(--accent7);fill-opacity:.7;fill-rule:evenodd;stroke:black;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}

path.dot{
    opacity: 0;
} 

/* path.dot{
    transition: fill 0.5s;
    z-index: 12;
    fill:black;fill-opacity:.5;fill-rule:evenodd;
    stroke: black;
    stroke-width: 1px;
} 

path.dot:hover{
    z-index: 12;
    fill:var(--accent3);fill-opacity:.5;fill-rule:evenodd;
    stroke: var(--accent3);
    stroke-width: 3px;
}  */

svg svg#arrow:hover{
    fill:var(--accent3);fill-opacity:.5;fill-rule:evenodd;
    stroke: var(--accent3);
}

#map p {
    translate: 0 -70px;
    font-style: italic;
    transition: background-color 0.5s;
}


#map p:hover {
    color: var(--accent1);
}

foreignObject canvas{
    width: 200px;
    height: 200px;
}
/* projects section */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before *:after {
    box-sizing: inherit;
}

.projects {
    color: var(--general-text);
    padding-bottom: 10%;
    /* position: relative; */
}

.projects h2{
    text-align: center;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    font-family: "Lato", cursive;
    font-size: 35px;
}

.projects h2:hover {
    color: var(--accent3);
    transition: color 0.5s ease;
    /* text-decoration: underline; */
}

.projects .card-gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 2000px;
}

.projects .card-gallery .card{
    position: relative;
    border-radius: 33%;
    width: 300px;
    min-height: 300px;
    perspective: 1000px;
    margin: 10px;
}

.projects .card-gallery .card .card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-front, .card-back{
    position: absolute;
    width:100%;
    height: 100%;
    backface-visibility: hidden;
    background:linear-gradient(to bottom right, var(--accent2), var(--general-back)) 
}

.card-back{
    background:linear-gradient(to bottom right, var(--general-back), var(--accent1));
    color: black;
    transform: rotateX(180deg);
}

.card#PM .card-front{
    text-align: center;
    justify-content: center;
    background:linear-gradient(to bottom right, var(--accent4), var(--general-back)) 
}


.card#researcher .card-front{
    text-align: center;
    justify-content: center;
    background:linear-gradient(to bottom right, var(--accent5), var(--general-back)) 
}

.card-front{
    text-align: center;
    justify-content: center;
}


.projects .card img {
    width: 150px;
    height: 150px;
    max-width: 60%;
    max-height: 60%;
    border-radius: 50%;

}

.card-back #text{
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.projects .card p {
    display: inline;
    font-size: 10px;
    font-style: italic;
}

.projects .card h3 {
    padding-top: 5%;
    font-size: 20px;
    letter-spacing: 3px;
}

.projects .card p#org {
    color: black;
    border: 2px solid var(--accent2);
    width:100%;
    height:1em;
    z-index:-1;
    left:-0.25em;
    top:0.1em;
    padding:0 0.25em;
    border-radius: 25%;
}

.projects .card p#role {
    color: black;
    border: 2px solid var(--accent3);
    width:100%;
    height:1em;
    z-index:-1;
    left:-0.25em;
    top:0.1em;
    padding:0 0.25em;
    border-radius: 25%;
}

.projects .card p#des {
    color: black;
    border: 2px solid var(--accent4);
    width:100%;
    height:1em;
    z-index:-1;
    left:-0.25em;
    top:0.1em;
    padding:0 0.25em;
    border-radius: 25%;
}

.projects .card-gallery .card:hover .card-inner{
    transform: rotateX(-180deg);
}

hr{
    color:var(--nav-back);
}

/* skills section */
.Experience {
    font-family: "Lato", cursive;
    padding-bottom: 20%;
}

.Experience h2{
    text-align: center;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    font-family: "Lato", cursive;
    font-size: 35px;
}

.Experience h2:hover {
    color: var(--accent4);
    transition: color 0.5s ease;
    /* text-decoration: underline; */
}

.Experience #exp-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Experience ul li{
    font-size: 12px;
    display: inline-flex;
}

.Experience ul li #date{
    background-color: var(--accent2);
    padding-right: 5px;
}

.Experience img{
    height: 250px;
    width: 250px;
    border-radius: 33%;
}

.Experience .langs{
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
    transition: color 0.3s ease;
}

.Experience .langs h4{
    font-size: 20px;
    transition: color 0.5s ease;
}

.Experience .langs h4:hover{
    color: var(--accent5);
}

.Experience .langs i{
    font-size: 25px;
    transition: color 0.5s ease;
    color: var(--accent1);
}

.Experience .langs i:hover{
    color: var(--accent5);
}

.footer{
    display: flex;
    flex-direction: row;
    height: 65px;
    background-color: var(--accent1);
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    margin: auto;
}

.footer p {
    font-style: italic;
    align-content: center;
    color: white;
}

.footer #contact-icons a{
    color: white;
}

.footer #contact-icons a:hover{
    color: var(--accent3);
}

.footer #source-code a{
    text-decoration: none;
    font-style: italic;
}

.footer #source-code p{
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: color 0.3s ease;
}

.footer #source-code p:hover{
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: var(--accent3);
    border: 1px solid var(--accent3);
}

/* media queries */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    nav ul{
        white-space: nowrap;
    }
    
    nav li{
        display: flex;
        justify-content: space-evenly;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-style: italic;
    }

    .about .about-content{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }

    .Experience #exp-content{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }

    .Experience #exp-content img{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
  }
